.title1
  %span(style="font-size:40px;" )
    活动通

%div.login-box
  %h4
    %strong
      重置密码

  %p(style="text-align: right;margin-top:20px")
    %a
      =link_to '用户登录',{:controller => 'login',:action => 'login'}

  =form_for :user , url:'forgot2', method:'post' do |f|
    .input-group.wh100
      = f.label :'忘记密码问题', :class => 'input-group-addon wh20'
      = f.text_field :forgot_pw_question ,:class => 'form-control',:placeholder =>@forgot_pw_question, :disabled =>"disabled"

    .input-group.mt15.wh100
      = f.label :'忘记密码答案' , :class => 'input-group-addon wh20'
      = f.text_field :forgot_pw_answer, :class => 'form-control',:placeholder => '请输入帐号名'

    .btn-danger.active.mt15
      = flash.now[:notice]

    %div.mt15(style="text-align:center;" )
      = f.submit "下一步", class: "btn btn-default", style:'width:150px'
